<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RootHelpers</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="RootHelpers">
    <meta name="author" content="root">
    <meta class="viewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img\favicon.ico">

    <!-- Font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic'>
    <link rel="icon" type="image/png" href="http://root.sa/Content/Logo/index.png">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="..\Content\assets\css\style.css">


    <!-- Plugins CSS -->
    <link rel="stylesheet" href="..\Content\assets\css\font-awesome.min.css">
    <link rel="stylesheet" href="..\Content\assets\css\jslider.css">
    <link rel="stylesheet" href="..\Content\assets\css\revslider\settings.css">
    <link rel="stylesheet" href="..\Content\assets\css\jquery.fancybox.css">
    <link rel="stylesheet" href="..\Content\assets\css\animate.css">
    <link rel="stylesheet" href="..\Content\assets\css\video-js.min.css">
    <link rel="stylesheet" href="..\Content\assets\css\morris.css">
    <link rel="stylesheet" href="..\Content\assets\css\royalslider\royalslider.css">
    <link rel="stylesheet" href="..\Content\assets\css\royalslider\skins\minimal-white\rs-minimal-white.css">
    <link rel="stylesheet" href="..\Content\assets\css\layerslider\css\layerslider.css">
    <link rel="stylesheet" href="..\Content\assets\css\ladda.min.css">
    <link rel="stylesheet" href="..\Content\assets\css\datepicker.css">
    <link rel="stylesheet" href="..\Content\assets\css\jquery.scrollbar.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="..\Content\assets\css\customizer\pages.css">
    <link rel="stylesheet" href="..\Content\assets\css\customizer\home-pages-customizer.css">

    <!-- IE Styles-->
    <link rel='stylesheet' href="..\Content\assets\css\ie\ie.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
              <link rel='stylesheet' href="css/ie/ie8.css">
    <![endif]-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer=""></script>
    <link rel="icon" type="image/png" href="http://root.sa/Content/Logo/index.png">
    <link href="..\Content\bootstrap.css" rel="stylesheet">
<link href="..\Content\site.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="..\Content\Style.css">
    <style>
        .navbar-nav {
            display: -webkit-inline-box;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }
    </style>
</head>
<body class="">
    <!-- Sidebar -->
  
    <div class="page-box-content">
        <div id="top-box">
    <div class="top-box-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-9 col-sm-5">
                    <div class="top-info btn-group language text-left btn-select">
                        <a class="btn btn-sm btn-block facebook-btn" href="/Home/ChangeLanguge?culture=en">
                            <img src="..\Content\assets\img\eng-flag.png" alt="" style=" height: 12px; "> English
                        </a>

                    </div>
                </div>

                <div class="col-xs-3 col-sm-7">
                    <div class="top-info btn-group language text-left btn-select" style=" float: right; ">
                        <a class="btn btn-sm btn-block facebook-btn" href="/Home/ChangeLanguge?culture=ar"> <img src="..\Content\assets\img\ar-flag.png" alt="" style=" height: 12px; "> Arabic</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="header header-two">
    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-2 col-lg-3 logo-box">
                    <div class="logo">
                        <a href="index.htm">
                            <img src="..\Content\logov1.png" class="logo-img" alt="">
                        </a>
                    </div>
                </div><!-- .logo-box -->
                <div class="col-xs-6 col-md-10 col-lg-9 right-box">
                    <div class="right-box-wrapper">
                        <!-- .header-icons -->

                        <div class="primary">
                            <div class="navbar navbar-default" role="navigation">

                                <nav class="navbar navbar-expand-sm bg-light" style="    flex-direction: initial;">
                                    <ul class="nav navbar-nav  navbar-center">
                                        <li class="nav-item item-primary item-bg text-info nav-item" style=" padding: 2px 5px; ">
                                            <a href="">
                                                Getting Started
                                            </a>
                                        </li>
                                        <li class="nav-item item-primary item-bg text-info active" style=" padding: 2px 5px; " onclick="w3_open()">
                                            <a href="#">Components</a>
                                        </li> 
                                        <li class="nav-item item-danger item-bg text-danger" style=" padding: 2px 5px; ">
                                            
                                            <a href="..\Content\RootHelpers2.bin">Download</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div><!-- .primary -->
                    </div>
                </div>

                <div class="phone-active col-sm-9 col-md-9">
                    <a href="#" class="close"><span>close</span>×</a>
                    <span class="title">Call Us</span>
                    <strong>+1 (777) 123 45 67</strong>
                </div>
                <div class="search-active col-sm-9 col-md-9">
                    <a href="#" class="close"><span>close</span>×</a>
                    <form name="search-form" class="search-form">
                        <input class="search-string form-control" type="search" placeholder="Search here" name="search-string">
                        <button class="search-submit">
                            <svg x="0" y="0" width="16px" height="16px" viewbox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                            <path fill="#231F20" d="M12.001,10l-0.5,0.5l-0.79-0.79c0.806-1.021,1.29-2.308,1.29-3.71c0-3.313-2.687-6-6-6C2.687,0,0,2.687,0,6
				s2.687,6,6,6c1.402,0,2.688-0.484,3.71-1.29l0.79,0.79l-0.5,0.5l4,4l2-2L12.001,10z M6,10c-2.206,0-4-1.794-4-4s1.794-4,4-4
				s4,1.794,4,4S8.206,10,6,10z"></path>
                            <image src="img\png-icons\search-icon.png" alt="" width="16" height="16" style="vertical-align: top;">
			  </image></svg>
                        </button>
                    </form>
                </div>
            </div><!--.row -->
        </div>
    </div><!-- .header-wrapper -->
</header><!-- .header -->

        <div class="breadcrumb-box">
            <div class="container">
                
            </div>
        </div>
        <section class="row" id="main">

            <div class="col-md-2">
                <div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar">
                    

                    <div class="col-12 bd-sidebar" style=" background-color: #f7f9f9; ">

    <nav class=" bd-links" id="bd-docs-nav">
        <div class="bd-toc-item active">
            <div class="bd-toc-link text-center" href="#">
                Components
            </div>
            <ul class="nav bd-sidenav" style=" margin-left: 33px; ">
                <li class=" bd-sidenav-active">
                    <a href="Alerts.html">
                        Alerts
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Badges.html">
                        Badges
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Breadcrumbs.html">
                        Breadcrumb
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Buttons.html">
                        Buttons
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Cards.html">
                        Cards
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Carousels.html">
                        Carousel
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Collapses.html">
                        Collapse
                    </a>
                </li>
                <li class="active bd-sidenav-active">
                    <a href="Dropdowns.html">
                        Dropdowns
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Jumbotrons.html">
                        Jumbotrons
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="DataTables.html">
                        Datatables
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Forms.html">
                        Forms
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Inputgroups.html">
                        Input group
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Modals.html">
                        Modal
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Paginations.html">
                        Pagination
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Popovers.html">
                        Popovers
                    </a>
                </li>
                <li class=" bd-sidenav-active">
                    <a href="Tooltips.html">
                        Tooltips
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
                </div>
            </div>

            <div class="col-md-8 container">
                
    <header class="page-header">
        <div class="">
            <h1 class="title">
                <i class="fa fa-sitemap"></i>  Dropdowns Helper
            </h1>
        </div>
    </header>



                


 <p class="bd-lead">Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.</p>

<div class='dropdown'>
<button class='btn  btn-primary dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Dropdown button</button>
<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
<a class='dropdown-item text-left' href='#'>Collapses 3</a>
<div class='dropdown-divider'></div>
<a class='dropdown-item text-left' href='/Home/Home'>Collapses 1</a>
<a class='dropdown-item text-left' href='#'>Collapses 4</a>
</div>


<hr>

<div class='dropdown'>
<button class='btn  btn-danger dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Dropdown button</button>
<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
<a class='dropdown-item text-left' href='#'>Collapses 3</a>
<div class='dropdown-divider'></div>
<a class='dropdown-item text-left' href='/Home/Home'>Collapses 1</a>
<a class='dropdown-item text-left' href='#'>Collapses 4</a>
</div>


<br>
<br>
<br>
<div class='dropdown'>
<button class='btn btn-lg btn-info dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Dropdown button</button>
<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
<a class='dropdown-item text-left' href='#'>Collapses 3</a>
<div class='dropdown-divider'></div>
<a class='dropdown-item text-left' href='/Home/Home'>Collapses 1</a>
<a class='dropdown-item text-left' href='#'>Collapses 4</a>
</div>


<br>
<br>
<div class='dropdown'>
<button class='btn btn-sm btn-light dropdown-toggle' type='button' id='dropdownMenuButton' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Dropdown button</button>
<div class='dropdown-menu' aria-labelledby='dropdownMenuButton'>
<a class='dropdown-item text-left' href='#'>Collapses 3</a>
<div class='dropdown-divider'></div>
<a class='dropdown-item text-left' href='/Home/Home'>Collapses 1</a>
<a class='dropdown-item text-left' href='#'>Collapses 4</a>
</div>

            </div>
            <div class="col-md-2"></div>

        </div></div></div></div></section>
        <footer id="footer">

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="copyright col-xs-12 col-sm-3 col-md-3">
                            Copyright © Root Inc., 2018
                        </div>

                  
 
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <a href="#" class="up">
                                <span class="fa fa-arrow-up"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- .footer-bottom -->
        </footer>
    

    <script src="..\Scripts\jquery-3.0.0.js"></script>

    <script src="..\Scripts\popper.js" crossorigin="anonymous"></script>
    <script src="..\Scripts\bootstrap.js"></script>
<script src="..\Scripts\respond.js"></script>

    
    <script src="http://webapplayers.com/inspinia_admin-v2.5/js/plugins/clipboard/clipboard.min.js"></script>
    <script>
        $(document).ready(function () {
            new Clipboard('.btn-clipboard');
        });
    </script>
    <script src="..\Scripts\jquery.validate.js"></script>
    <script src="..\Scripts\jquery.validate.unobtrusive.js"></script>

    
   
</div></body>
</html>